<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUkIMKvoDn04fqskAUTvwicZXCE6EO_jY</string>
	<key>GCM_SENDER_ID</key>
	<string>381942737535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mistrioncall</string>
	<key>PROJECT_ID</key>
	<string>mistrioncall-4351f</string>
	<key>STORAGE_BUCKET</key>
	<string>mistrioncall-4351f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381942737535:ios:362d08f42e9560a9272d4a</string>
</dict>
</plist>