<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585014761693-8ficm7hf0q21q0umpsk1dq21luir6peh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585014761693-8ficm7hf0q21q0umpsk1dq21luir6peh</string>
	<key>API_KEY</key>
	<string>AIzaSyDa4CNewQBXJEMW_9DxWbc1WHyYaxnLAq0</string>
	<key>GCM_SENDER_ID</key>
	<string>585014761693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookingSystemFlutter</string>
	<key>PROJECT_ID</key>
	<string>userapp-8e244</string>
	<key>STORAGE_BUCKET</key>
	<string>userapp-8e244.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585014761693:ios:b7fa67b4eb90d65b266334</string>
</dict>
</plist>